[
  {
    "did": "did:ethr:volta:0x09637Fc1880B2FAd017528BfC77f43fc900Fb3E9",
    "token": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJjMzA1MjVmNTFlYjY0NjhmYTYzMTA3ZGVjZTRhM2EyNSIsImlhdCI6MTY0OTE3ODI2MSwiZXhwIjoxOTY0NTM4MjYxfQ.sAr3jS161Vbh7oa6HpnWq7u1umWlM2rKMd3_ZbEqPgg"
  }
]
